/*
* @Author: d4r
* @Date:   2016-09-04 22:51:20
* @Last Modified by:   Imam
* @Last Modified time: 2016-11-18 11:34:00
*/
#banner:after{
 background-image: -webkit-linear-gradient(top, rgba(193, 193, 193, 0), rgba(255, 204, 177,0)), url("images/overlay.png");
 background-image: -moz-linear-gradient(top, rgba(23, 24, 32, 0), rgba(23, 24, 32, 0)), url("images/overlay.png");
}

#banner .content{
background-color: rgba(236,231,210,0.7);
}
.spotlight.style1 .content,.spotlight.style2 .content, .spotlight.style3 .content {
	border-color:rgba(236,231,210,0.7);
}
p{
	color: #969696;
}
h2 {
	color: rgb(67, 62, 62);
}
h3{
	color:#bcbba6;
}
#four {
	background: #f9f9f4;
}
#four a.button {
	background-color: #e44c65;
}
#titleBar {
	background: #e44c65;
}
header p {
	color: #774f38;
}
.spotlight .content {
	background-color: rgba(231, 219, 200, 0.9);
}

@media screen and (max-width: 1280px) {
	.row.uniform > section {
		height: 400px;
	}
}

@media screen and (max-width: 980px) {
	#banner .content {
		padding: 4.5em;
	}
	.spotlight .content {
		background-color: rgb(231, 219, 200);
	}
	.spotlight .image.main {
		max-height: 100%;
	}
}

@media screen and (max-width: 735px) {
	#banner .content {
		padding: 4.5em;
	}
}

@media screen and (max-width: 495px) {
	#banner .content {
		padding: 3em 1.5625em 5.25em 1.5625em;
	}
}
span.name {
	font-size: 25px;
}
.grey {
	color: #774f38!important;
}
.black-widow {
	color: rgb(67, 62, 62)!important;
}
.name.center {
	text-align: center
}
.name.center p {
	font-size: 25px;
}
.name.center p.bottom {
	margin-bottom: 0;
}
.name.center p.small {
	font-size: 12px!important;
	margin: 0;
}
.standout {
	font-size: 1.24em;
	color: #774f38;
}
.quote {
	font-size: 1.25em;
}
.quote-content {
	color: #969696;
	font-size: 1.25em;
}
.natural{
	color: #774f38!important;
	font-weight: 400;
}
.center-image {
	display: block;
    width: 55px;
    margin-left: auto;
    margin-right: auto;

}
.icon-image-cake {
	background: url("http://res.cloudinary.com/kelabang/image/upload/v1479036385/xgpwhxv7ws1jg2hptopb.png") no-repeat center center;
    height: 200px;
    width: 200px;
}

.icon.alt.hoho {
	position: absolute;
}
.icon.alt.hoho:before {
	color: #bcbba6!important;
}
.pastime {
	color: #bababa;
	font-size: 12px;
}
.testimoni-item p {
	margin-bottom: 0;
	height: 120px;
}
.icon.major {
	margin-bottom: 1em;
}